<div class="container">
<div class="footer">
  <p class="footer__items">{{ pendingTasks }} items left</p>
  <div class="footer__status desktop">
    <p (click)="setFilter('all')" [class.active]="filter === 'all'">All</p>
    <p (click)="setFilter('active')" [class.active]="filter === 'active'">Active</p>
    <p (click)="setFilter('completed')" [class.active]="filter === 'completed'">Completed</p>
  </div>
  <p class="footer__clean" (click)="cleanCompleted()">Clear completed</p>
</div>
  <div class="mobile">
    <div class="footer">
    <div class="footer__status">
      <p (click)="setFilter('all')" [class.active]="filter === 'all'">All</p>
      <p (click)="setFilter('active')" [class.active]="filter === 'active'">Active</p>
      <p (click)="setFilter('completed')" [class.active]="filter === 'completed'">Completed</p>
    </div>
    </div>
  </div>
</div>


