<div class="container">
  <div class="footer">
    <p class="footer__items">{{ pendingTasks }} {{ 'itemsLeft' | translate }}</p>
    <div class="footer__status desktop">
      <p class="status-el" (click)="setFilter(FilterTypes.All)" [class.active]="filter === FilterTypes.All">{{ 'all' | translate }}</p>
      <p class="status-el" (click)="setFilter(FilterTypes.Active)" [class.active]="filter === FilterTypes.Active">{{ 'active' | translate }}</p>
      <p class="status-el" (click)="setFilter(FilterTypes.Completed)" [class.active]="filter === FilterTypes.Completed">{{ 'completed' | translate }}</p>
    </div>
    <p class="footer__clean" (click)="cleanCompleted()">Clear completed</p>
  </div>
  <div class="mobile">
    <div class="footer">
      <div class="footer__status">
        <p class="status-el" (click)="setFilter(FilterTypes.All)" [class.active]="filter === FilterTypes.All">{{ 'all' | translate }}</p>
        <p class="status-el" (click)="setFilter(FilterTypes.Active)" [class.active]="filter === FilterTypes.Active">{{ 'active' | translate }}</p>
        <p class="status-el" (click)="setFilter(FilterTypes.Completed)" [class.active]="filter === FilterTypes.Completed">{{ 'completed' | translate }}</p>
      </div>
    </div>
  </div>
</div>


