@use '../../../assets/styles/mixins' as m;
@use '../../../assets/styles/variables' as v;
@use '../../../assets/styles/functions' as f;

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .footer {
    height: 52px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 325px;
    min-height: 52px;
    box-shadow: 0 4px 4px 0 v.$gray-shadow;
    background-color: var(--background);
    color: var(--text-color);
    border-radius: 0 0 5px 5px;
    font-size: f.calculateRem(14);

    @include m.d {
      height: 64px;
      width: 540px;
      padding: f.calculateRem(16) f.calculateRem(24);
    }

    &__items,
    &__clean {
      font-size: f.calculateRem(12);

      @include m.d {
        font-size: f.calculateRem(14);
      }
    }

    &__clean {
      cursor: pointer;

      &:hover {
        color: var(--hover-footer-text-color);
      }
    }

    &__status {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border-radius: 5px;
      font-weight: bold;
      padding: f.calculateRem(16) f.calculateRem(80);
      gap: f.calculateRem(18);

      @include m.d {
        padding: 0 f.calculateRem(56) 0  f.calculateRem(96);
        gap: 0;
      }
    }

    .status-el {
      cursor: pointer;

      &:hover {
        color: var(--hover-footer-text-color)
      }
    }

    .status-el.active {
      color: v.$blue-100;
    }

    .desktop {
      display: none;

      @include m.d {
        display: flex;
        justify-content: space-between;
        width: 188px;
        padding: 0;
      }
    }
  }

  .mobile {
    display: flex;

    @include m.d {
      display: none;
    }
  }
}



