
//blues
$blue-100: #3A7CFD;
$blue-200: #393A4B;
$blue-300: #25273D;
$blue-400: #171823;
$blue-500: #4D5067;
$blue-600: #5B5E7E;

//grays
$white: #FFFFFF;
$gray-100: #F2F2F2;
$gray-transparent: rgba(151, 151, 151, 0.2);
$gray-200: #E3E4F1;
$gray-300: #C8CBE7;
$gray-400: #D1D2DA;
$gray-500: #9495A5;
$gray-600: #767992;
$gray-700: #494C6B;
$black: #111111;
$gray-shadow: rgba(0, 0, 0, 0.25);

//others
$font: "Josefin Sans", sans-serif;
$gradient: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$drag-shadow:
0 5px 5px -3px rgba(0, 0, 0, 0.2),
0 8px 10px 1px rgba(0, 0, 0, 0.14),
0 3px 14px 2px rgba(0, 0, 0, 0.12);

