@use '../../../assets/styles/variables' as v;
@use '../../../assets/styles/mixins' as m;
@use '../../../assets/styles/functions' as f;

.todo-input {
  display: flex;
  align-items: center;
  width: 327px;
  height: 48px;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  color: var(--input-active-text-color);
  border: 1px solid var(--background);
  background-color: var(--background);

  @include m.d {
    width: 540px;
    height: 64px;
  }

  .done-checkbox {
    position: absolute;
    left: f.calculateRem(20);

    @include m.d {
      left: f.calculateRem(24);
    }

    &:disabled {
      pointer-events: none;
    }
  }

  .todo-input__text {
    flex-grow: 1;
    height: 100%;
    border: 1px solid var(--background);
    caret-color: v.$blue-100;
    outline: none;
    font-size: f.calculateRem(12);
    color: var(--input-active-text-color);
    background-color: var(--background);
    padding-left: f.calculateRem(56);
    cursor: auto;

    @include m.d {
      font-size: f.calculateRem(18);
      padding-left: f.calculateRem(72);
    }
  }

  .todo-input__text::placeholder {
    color: var(--input-text-color);
    font-size: f.calculateRem(12);

    @include m.d {
      font-size: f.calculateRem(18);
    }
  }

  .check {
    width: 18px;
    height: 18px;
    position: absolute;
    right: f.calculateRem(16);
    background: var(--check-icon) no-repeat center;
    background-size: contain;
    transition: opacity 0.3s ease;
    cursor: pointer;

    @include m.d {
      visibility: hidden;
      pointer-events: none;
    }
  }
}

