@use '../../../assets/styles/mixins' as m;
@use '../../../assets/styles/variables' as v;

.item {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  cursor: move;
  border-bottom: 1px solid v.$gray-2;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

  @include m.d {
    height: 64px;
    padding-left: 24px;
    gap: 24px;
  }

  &__data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
  }

  &__text {
    font-size: 12px;
    color: var(--todo-text-color);

    @include m.d {
      font-size: 18px;
    }

    &.completed {
      color: var(--task-done-color);
      text-decoration: line-through;
    }
  }

  &__delete {
    background: none;
    border: none;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
    color: var(--icon-color);

    @include m.d {
      opacity: 0;
      pointer-events: none;
    }
  }

  @include m.d {
    &:hover .item__delete {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .item__delete img {
    width: 12px;
    height: 12px;
  }
}

.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  background: var(--background);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  transform: scale(1.05)
}

.cdk-drag-placeholder {
  opacity: 0;
  visibility: hidden;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
