@use '../../../assets/styles/mixins' as m;

.item {
  height: 52px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  gap: 12px;
  border-bottom: 1px solid var(--border-color);

  @include m.d {
    height: 64px;
    padding-left: 24px;
    gap: 24px;

  }

  &__radio {
    appearance: unset;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid var(--radio-btn-inactive-color);
    background-color: var(--white);

    @include m.d {
      height: 24px;
      width: 24px;
    }
  }

  &__text {
    font-size: 12px;
    color: var(--todo-text-color);

    @include m.d {
      font-size: 18px;
    }
  }
}
