<div class="item">
  <input type="checkbox" class="done-checkbox">
  <p class="item__text">Do the dishes</p>
</div>
<div class="item">
  <input type="checkbox" class="done-checkbox">
  <p class="item__text">Do the dishes</p>
</div>
<div class="item">
  <input type="checkbox" class="done-checkbox">
  <p class="item__text">Do the dishes</p>
</div>
<div class="item">
  <input type="checkbox" class="done-checkbox">
  <p class="item__text">Do the dishes</p>
</div>
<div class="item">
  <input type="checkbox" class="done-checkbox">
  <p class="item__text">Do the dishes</p>
</div>

