@use '../../../assets/styles/mixins' as m;
@use '../../../assets/styles/variables' as v;
@use '../../../assets/styles/functions' as f;

.item {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 f.calculateRem(20);
  cursor: move;
  border-bottom: 1px solid v.$gray-transparent;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

  @include m.d {
    height: 64px;
    padding-left: f.calculateRem(24);
    gap: f.calculateRem(24);
  }

  &__data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: f.calculateRem(12);
  }

  &__text {
    font-size: f.calculateRem(12);
    color: var(--todo-text-color);

    @include m.d {
      font-size: f.calculateRem(18);
    }

    &.completed {
      color: var(--task-done-color);
      text-decoration: line-through;
    }
  }

  &__delete {
    background: none;
    border: none;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
    color: var(--icon-color);

    @include m.d {
      opacity: 0;
      pointer-events: none;
    }
  }

  @include m.d {
    &:hover .item__delete {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .delete-image {
    width: 12px;
    height: 12px;
  }
}

.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  background: var(--background);
  box-shadow: v.$drag-shadow;
  transform: scale(1.05)
}

.cdk-drag-placeholder {
  opacity: 0;
  visibility: hidden;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  font-family: v.$font;
}
