@use 'assets/styles/variables' as v;
@use 'assets/styles/mixins' as m;
@use 'assets/styles/switch-mode';
@use './assets/styles/done-checkbox';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: v.$font;
  letter-spacing: 0.15px;
}

body {
  background: var(--body-background);
}
